@import 'reset.less';

body {
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}

body, .container {
  margin: 0px;
}

h1 {
  font-size: 32px;
  letter-spacing: 3px;
}

h2 {
  font-size: 20px;
  letter-spacing: 3px;
}

h3 {
  font-size: 16px;
}

p {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.app {
  display: flex;
  justify-content: center;
}

.sidebar {
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  white-space: nowrap;
  transition: 0.6s;
}

#show-hide {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
}

.grid {
  margin: 30px auto;
  cursor: pointer;
  border: 1px solid white;
}

.button {
  cursor: pointer;
  padding: 5px;
  margin: 20px 0;
}

.option {
  display: inline-block;
  margin: 10px;
}

.initial {
  display: block;
}

.hidden {
  display: none;
}

.explanation {
  position: absolute;
  width: 970px;
  height: 834px;
  align-self: center;
  padding: 120px;

  .close-explanation {
  position: absolute;
  right: 0%;
  top: 0%;
  cursor: pointer;
  margin: 0;
  }

  p {
    line-height: 1.4;
    font-size: 15px;
  }

  span {
  font-family: 'Roboto Slab', serif;
  font-size: 19px;
  }
}

.swatch {
  padding: 0;
  font-size: 0;
  -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}

.color-sample {
  width: 10px;
  height: 10px;
  display: inline-block;
}
