@blue: #a67f42;

.container {
  border: 1px solid @blue;
  display: flex;
  justify-content: center;
}

.cell {
  fill: none;
}

.colored {
  fill: rgb(198, 149, 23);
}




.grid polygon:hover {fill: black};
.grid polygon:active {fill: red};
