@import 'reset.less';

@blue: #a67f42;
@default: #F3FBF1 ;

@g0: #F3FBF1;
@g1: #D1E4D1;
@g2: #98B4A6;
@g3: #64868E;

@p0: #fbf8ef;
@p1: #e5d2d7;
@p2: #b497ad;
@p3: #8c6378;

/*@p0: #F5D7A1;
@p1: #F0A28E;
@p2: #BA6476;
@p3: #812D58;*/

html {
  background-color: @default;
}

body {
  font-family: 'Nova Mono', monospace;
  box-sizing: border-box;
  color: #64868E;
}

body, .container {
  margin: 0px;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 16px;
}

.app {
  display: flex;
  justify-content: center;
}

.sidebar {
  position: absolute;
  left: 1%;
}

.cell {
  stroke: @default;
  stroke-width: 0.5;
}

.colored {
  fill: #c69517;
}

.grid {
  margin: 30px auto;
  border: 1px solid grey;
}


// .grid polygon:hover {fill: black};
.grid polygon:active {fill: red};

.button {
  cursor: pointer;
  border: 1px solid grey;
  padding: 5px;
  margin: 20px 0;
}

.user-controls {
  font-size: 22px;
}

.option {
  display: inline-block;
  margin: 10px;
}

.hidden {
  display: none;
}

.explanation {
  position: absolute;
  width: 700px;
  height: 700px;
  align-self: center;
  padding: 40px;
  background: rgba(255, 255, 255, 0.8);
}

.green, .purple {
  padding: 0;
  font-size: 0;
  -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}

.color-sample {
  width: 10px;
  height: 10px;
  display: inline-block;
}

#green0 {
  background-color: @g0;
}

#green1 {
  background-color: @g1;
}

#green2 {
  background-color: @g2;
}

#green3 {
  background-color: @g3;
}

#purple0 {
  background-color: @p0;
}

#purple1 {
  background-color: @p1;
}

#purple2 {
  background-color: @p2;
}

#purple3 {
  background-color: @p3;
}